{% extends 'base.html' %}

{% block content %}
    {% if current_user == user %}
        <h5 class="mb-3">Your posts ({{ posts.total }})</h5>
    {% else %}
        <h5 class="mb-3">Posts by {{ user.username }} ({{ posts.total }})</h5>
    {% endif %}
    {% if posts.total == 0 %}
        {% if user != current_user %}
            <p>Looks like this user has not posted anything.</p>
        {% else %}
            <p>Looks like you haven't posted anything yet. <a href="{{ url_for('posts.new_post') }}">Add post</a></p>
        {% endif %}
    {% else %}
        {% for post in posts.items %}
            <article class="media content-section">
              <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
              <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
                  <small class="text-muted">{{ post.date_posted.strftime('%m/%d/%Y - %H:%M') }}</small>
                </div>
                <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
              </div>
            </article>
        {% endfor %}

        {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if posts.page == page_num %}
                    <a class="btn btn-info mb-4" href="{{ url_for('users.user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
                {% else %}
                    <a class="btn btn-outline-info mb-4" href="{{ url_for('users.user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock content %}
